/*** COPYRIGHT NOTICE *********************************************************
 *
 * Copyright 2009-2017 ProjeQtOr - Pascal BERNARD - support@projeqtor.org
 * Contributors : -
 *
 * This file is part of ProjeQtOr.
 * 
 * ProjeQtOr is free software: you can redistribute it and/or modify it under 
 * the terms of the GNU Affero General Public License as published by the Free 
 * Software Foundation, either version 3 of the License, or (at your option) 
 * any later version.
 * 
 * ProjeQtOr is distributed in the hope that it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS 
 * FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for 
 * more details.
 *
 * You should have received a copy of the GNU Affero General Public License along with
 * ProjeQtOr. If not, see <http://www.gnu.org/licenses/>.
 *
 * You can get complete code of ProjeQtOr, other resource, help and information
 * about contributors at http://www.ProjeQtOr.org 
 *     
 *** DO NOT REMOVE THIS NOTICE ************************************************/

/* ============ */
/* NEW GUI      */
/* ============ */

:root {
	--color-button-background: #f0f0f0;
	--color-section-title-text: #656565;
	--color-section-title-border: #656565;
	--color-table-header: #f0f0f0;
}

.dijitTextBox {
    font-weight: normal;
    color: #555555;
    margin: 5px 2px 5px 0px;
    padding: 2px 5px 6px 5px;
    border: 1px solid #d4d4d4;
    line-height: normal;
    border-radius: 5px 5px 5px 5px;
    barckground-image: url() !important;
    background: #fff url() repeat-x top left;
    barckground-color: #ffffff !important;
    width: 195px;
    height: 17px;
    font-size: 10pt;
}
.dijitTextBoxFocused {
	border: 1px solid #b2b2b2;
}

label, .label, .ProjeQtOrNewGui .label, .smallLabel, .labelMultiple {
    font-weight: 400;
    font-family: Verdana, Arial, Tahoma, sans-serif;
    font-size: 10pt;
    text-align: right;
    vertical-align: top;
    width: 180px;
    padding: 5px 1px 2px 0px;
    float: left;
    border: 1px;
    text-shadow: 1px 1px #FFFFFF;
    background-color: #ffffff;
}
.labelWithThumb {
  width: 150px !important;
}
.longTextLabel {
	padding:5px; 
	border: 1px solid #d4d4d4;
	border-bottom: 0px;
	border-radius: 5px 5px 0px 0px;
	width:100%;
}
.ProjeQtOrNewGui .dijitButtonNode, .ProjeQtOrNewGui .dijitReset.dijitInline.dijitButtonNode {
  background: transparent;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  border-color : #b3b3b3;
}
.ProjeQtOrNewGui .dijitButtonNode:hover, .ProjeQtOrNewGui .dijitReset.dijitInline.dijitButtonNode:hover {
  background: #dddddd;
}
.ProjeQtOrNewGui .dijitButtonDisabled .dijitButtonNode, .ProjeQtOrNewGui .dijitButtonDisabled .dijitReset.dijitInline.dijitButtonNode { 
  background: rgba(128,128,128,0.2) !important;
}
.dijitComboBoxMenu {
	 background: #ffffff;
}
.dijitReset.dijitMenuItem  {
	font-size: 10pt;
	padding: 5px 5px 5px 10px;
	color: #555555;
	-webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.dijitReset.dijitMenuItem.dijitMenuItemHover {
	/* color: #ffffff; */
	background: #cccccc;
}

.ProjeQtOrNewGui #mapDiv, .ProjeQtOrNewGui #messageDiv, .ProjeQtOrNewGui #listDiv, .ProjeQtOrNewGui #formDiv, .ProjeQtOrNewGui .display, .ProjeQtOrNewGui .background, .ProjeQtOrNewGui .dijitTitlePaneContentInner, .ProjeQtOrNewGui .dijitTabPane, .ProjeQtOrNewGui #mainDiv, .ProjeQtOrNewGui #centerDiv {
    background-color: #ffffff; 
}
.dijitComboBoxMenu, .dijitMenuItem {
   background-color:#ffffff;
   background-image: url();
}

.ProjeQtOrNewGui .dijitTitlePane .dijitTitlePaneTitle {
	background:#ffffff !important;
	color: var(--color-section-title-text) !important;
	border-bottom: 1px solid var(--color-section-title-border);
	border-top: 2px solid var(--color-section-title-border);
	margin-top:10px;
	font-size:120%;
	Height:25px;
	font-weight:normal !important;
}
.ProjeQtOrNewGui .dijitTitlePane .dijitArrowNode {
    background-image: url(images/spriteArrows.png);
}
.dijitTitlePaneTextNode {
	 font-weight:normal;
}
.ProjeQtOrNewGui #toolBarDiv, .ProjeQtOrNewGui #statusBarDiv, .ProjeQtOrNewGui .statusBar {
	background: var(--color-toolbar) !important;
}
.ProjeQtOrNewGui #statusBarDiv {
	background: white !important;
}
.ProjeQtOrNewGui #listHeaderDiv,.ProjeQtOrNewGui .listTitle {
	background-color: var(--color-list-header) !important;
}
.ProjeQtOrNewGui #buttonDiv, .ProjeQtOrNewGui .title {
  background-color: var(--color-detail-header) !important;
  color: var(--color-detail-header-text) !important;
}
.ProjeQtOrNewGui #buttonDiv {
  border-bottom : 2px solid var(--color-detail-header-border);
}
.ProjeQtOrNewGui .dijitButtonDisabled .dijitButtonNode, .ProjeQtOrNewGui .dijitButtonDisabled .dijitReset.dijitInline.dijitButtonNode { 
  background: rgba(255,255,255,0.3) !important;
}
.dijit.dijitReset.dijitInline.detailButton.dijitButton.dijitDisabled .dijitButtonNode {
	border:0;
}
html, body, #mainDiv, 
#toolBarDiv, 
#logoDiv,
#contentDiv,  #listDiv, .container {
  font-size: 10pt;
}

.tabLabel {
  font-size: 10pt;
}
.largeLabel {
  width: 370px;
}
.dijitToolbar {
 margin: 5px 2px 5px 0px;
 padding: 2px 5px 6px 5px;
 border: 0px solid #b3b3b3;
 background-color: #ffffff; 
 background-image: none; 
}
.toolbarForSelect {
	position:absolute;
	top:-9px;
	right:0px;
	/*left:-50px;*/
	display:none;
	opacity:0;
	width:200px;
	padding-right:0px;
	-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.roundedButton {
  border-radius: 5px !important;
  border: 1px solid #dddddd;
}
.roundedIconButton {
	border: 1px solid #ffffff;
	border-radius:10px !important;
}
.roundedButton:hover, .roundedButtonSmall:hover {
  border: 1px solid #c0c0c0;
  border-color: #a5a5a5;
  border-bottom-color: #757575;
  color: #3C3C3C;
  background: var(--color-button-background) url() repeat-x bottom;
}

.ProjeQtOrNewGui .iconToolbarView { background-image: url(customIcons/grey/iconView.png); background-repeat: no-repeat; width: 20px; height: 20px; background-position:center center; background-size: 18px 18px}
.ProjeQtOrNewGui .iconToolbarGoto { background-image: url(customIcons/grey/iconGoto.png); background-repeat: no-repeat; width: 20px; height: 20px; background-position:center center; background-size: 16px 16px}
.ProjeQtOrNewGui .iconToolbarSearch { background-image: url(customIcons/grey/iconSearch.png); background-repeat: no-repeat; width: 20px; height: 20px; background-position:center center; background-size: 16px 16px}
.ProjeQtOrNewGui .iconToolbarAdd { background-image: url(customIcons/grey/iconAdd.png); background-repeat: no-repeat; width: 20px; height: 20px; background-position:center center; background-size: 16px 16px}

.fade-in {
animation: fadeIn ease 0.5s;
-webkit-animation: fadeIn ease 0.5s;
-moz-animation: fadeIn ease 0.5s;
-o-animation: fadeIn ease 0.5s;
-ms-animation: fadeIn ease 0.5s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

.ProjeQtOrNewGui .roundedVisibleButton.roundedButton.generalColClass {
	background: url() var(--color-button-background);
}

.ProjeQtOrNewGui .linkHeader, .ProjeQtOrNewGui .attachmentHeader, .ProjeQtOrNewGui .noteHeader, .ProjeQtOrNewGui .dependencyHeader, .ProjeQtOrNewGui .historyHeader, .ProjeQtOrNewGui .assignHeader, .ProjeQtOrNewGui .messageHeader, .ProjeQtOrNewGui .workflowHeader, .ProjeQtOrNewGui .filterHeader, .ProjeQtOrNewGui .calendarHeader, .ProjeQtOrNewGui .reportTableLineHeader {
    color: rgb(101, 101, 101);
    text-shadow: none;
    background: url() var(--color-table-header) !important;
}
.ProjeQtOrNewGui .sectionBadge {
	top:18px;
	background: var(--color-dark);
}	

.ProjeQtOrNewGui .dijitButtonIcon {
	-webkit-filter : hue-rotate(var(--image-hue-rotate)) saturate(var(--image-saturate)) brightness(var(--image-brightness));
  filter : hue-rotate(var(--image-hue-rotate)) saturate(var(--image-saturate)) brightness(var(--image-brightness));
}
.ProjeQtOrNewGui .menuBarItem {
	 -webkit-filter : hue-rotate(var(--image-hue-rotate)) saturate(var(--image-saturate)) brightness(var(--image-brightness));
  filter : hue-rotate(var(--image-hue-rotate)) saturate(var(--image-saturate)) brightness(var(--image-brightness));
} 
.ProjeQtOrNewGui .dijitButtonIcon {
  //background-image: url(customIcons/new/editorButtonsEnabled.png);
]