/*** COPYRIGHT NOTICE *********************************************************
 *
 * Copyright 2009-2017 ProjeQtOr - Pascal BERNARD - support@projeqtor.org
 * Contributors : -
 *
 * This file is part of ProjeQtOr.
 * 
 * ProjeQtOr is free software: you can redistribute it and/or modify it under 
 * the terms of the GNU Affero General Public License as published by the Free 
 * Software Foundation, either version 3 of the License, or (at your option) 
 * any later version.
 * 
 * ProjeQtOr is distributed in the hope that it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS 
 * FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for 
 * more details.
 *
 * You should have received a copy of the GNU Affero General Public License along with
 * ProjeQtOr. If not, see <http://www.gnu.org/licenses/>.
 *
 * You can get complete code of ProjeQtOr, other resource, help and information
 * about contributors at http://www.ProjeQtOr.org 
 *     
 *** DO NOT REMOVE THIS NOTICE ************************************************/

/* ============ */
/* NEW GUI      */
/* ============ */


:root {
	--color-button-background: #f0f0f0;
	--color-section-title-text: #656565;
	--color-section-title-border: #656565;
	--color-table-header: #f0f0f0;
}


/* ======================= GENERIC FORM CSS ==========================*/

.dijitTextBox, .dijitValidationTextBox {
    font-weight: normal;
    color: #555555;
    margin: 5px 2px 5px 0px;
    padding: 2px 5px 6px 5px;
    border: 1px solid #d4d4d4;
    line-height: normal;
    border-radius: 5px 5px 5px 5px;
    barckground-image: url() !important;
    background: #fff url() repeat-x top left;
    barckground-color: #ffffff !important;
    width: 195px;
    height: 17px;
    font-size: 10pt;
}
TABLE.dijitSelect {
	padding: 2px 5px 6px 5px !important;
}	
.dijitTextBoxFocused {
	border: 1px solid #b2b2b2;
}

label, .ProjeQtOrNewGui label, 
.label, .ProjeQtOrNewGui .label, 
.smallLabel, .ProjeQtOrNewGui .smallLabel, 
.labelMultiple, .ProjeQtOrNewGui .labelMultiple{
    font-weight: 400;
    font-family: Verdana, Arial, Tahoma, sans-serif;
    font-size: 10pt;
    text-align: right;
    vertical-align: top;
    width: 180px;
    padding: 5px 1px 2px 0px;
    float: left;
    border: 1px;
    text-shadow: 1px 1px #FFFFFF;
    background-color: #ffffff;
    color:var(--color-text);
}
.ProjeQtOrNewGui label.ganttScale {
	float: none;
	background-color:var(--color-medium);
	font-weight:normal;
	text-shadow: 0px 0px;
	color:var(--color-white);
}
.ProjeQtOrNewGui .ganttScaleText {
	text-shadow: 0px 0px;
}
.ProjeQtOrNewGui .ganttNoLeftBorder {
	border-left: 0;
}
.ProjeQtOrNewGui .ganttTaskgroup {
	background-color:var(--color-light);
}
.ProjeQtOrNewGui .ganttRightSubTitle {
	background: url();
	background-color:var(--color-lighter);
}
.ProjeQtOrNewGui .ganttRightTitle, .ProjeQtOrNewGui .ganttLeftTopLine, .ProjeQtOrNewGui .ganttLeftTitle {
	background-color:var(--color-medium);
	text-shadow: 0px 0px;
	font-weight:normal;
  color:var(--color-white);
}
	
.ProjeQtOrNewGui .ganttLeftTopLine .dijitReset.dijitInline.dijitButtonNode {
	background: var(--color-medium) ;
}
.dijitComboBox .dijitInputField {
    padding: 0;
}

.labelWithThumb, .ProjeQtOrNewGui .labelWithThumb{
  width: 150px !important;
  background-color: #ffffff;
  color:var(--color-text);
}
.tabLabel, .ProjeQtOrNewGui .tabLabel {
	background-color: #ffffff;
  color:var(--color-text);
}
.longTextLabel {
	padding:5px; 
	border: 1px solid #d4d4d4;
	border-bottom: 0px;
	border-radius: 5px 5px 0px 0px;
	width:100%;
	background-color: #ffffff;
	color:var(--color-text);
}
.ProjeQtOrNewGui .textColorNewGui{
  color:var(--color-text);
}
.ProjeQtOrNewGui  #gridRowCount:hover {
  font-size: 100%;
  top: 0;    
}
.ProjeQtOrNewGui .dijitButtonNode, 
.ProjeQtOrNewGui .dijitReset.dijitInline.dijitButtonNode {
  background: transparent;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-color : #b3b3b3;
  color:var(--color-text);
}

.ProjeQtOrNewGui .dijitButtonDisabled .dijitButtonNode, 
.ProjeQtOrNewGui .dijitButtonDisabled .dijitReset.dijitInline.dijitButtonNode { 
  background: rgba(128,128,128,0.2) !important;
}
.dijitComboBoxMenu {
	 background: #ffffff;
}
.dijitReset.dijitMenuItem  {
	font-size: 10pt;
	padding: 5px 5px 5px 10px;
	color: #555555;
	-webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.dijitReset.dijitMenuItem.dijitMenuItemHover {
	/* color: #ffffff; */
	background: #cccccc;
}

.ProjeQtOrNewGui #mapDiv, .ProjeQtOrNewGui #listDiv, .ProjeQtOrNewGui #formDiv, .ProjeQtOrNewGui .display, .ProjeQtOrNewGui .background, .ProjeQtOrNewGui .dijitTitlePaneContentInner, .ProjeQtOrNewGui .dijitTabPane, .ProjeQtOrNewGui #mainDiv, .ProjeQtOrNewGui #centerDiv {
    background-color: #ffffff; 
}
.dijitComboBoxMenu, .dijitMenuItem {
   background-color:#ffffff;
   background-image: url();
}

.ProjeQtOrNewGui .dijitTitlePane .dijitTitlePaneTitle {
	background:#ffffff !important;
	color: var(--color-section-title-text) !important;
	/* border-bottom: 1px solid var(--color-section-title-border);*/
	border-top: 2px solid var(--color-section-title-border);
	margin-top:10px;
	font-size:120%;
	Height:25px;
	font-weight:normal !important;
}
.ProjeQtOrNewGui .dijitTitlePane .dijitArrowNode {
    background-image: url(images/spriteArrows.png);
}
.dijitTitlePaneTextNode {
	 font-weight:normal;
}

/*================================== LAYOUTS ===============================================*/

.ProjeQtOrNewGui #toolBarDiv, .ProjeQtOrNewGui #statusBarDiv, .ProjeQtOrNewGui .statusBar,  .titleProject, .ProjeQtOrNewGui #menuBArNewGuiAcces{
	background: url() var(--color-toolbar) !important;
	color: var(--color-toolbar-text) !important;
}
.ProjeQtOrNewGui .dijitAccordionTitle2, .ProjeQtOrNewGui .reportTableColumnHeader2, .ProjeQtOrNewGui .largeReportHeader2 {
  background: url() var(--color-light) !important;
}
.ProjeQtOrNewGui #toolBarDiv, .ProjeQtOrNewGui #statusBarDiv, .ProjeQtOrNewGui .statusBar {
	background: var(--color-toolbar) !important;
}
.ProjeQtOrNewGui #menuBarLeft {
	background: var(--color-reference);
}
.ProjeQtOrNewGui #menuBarRight, .ProjeQtOrNewGui #menuBarRight .statusBar {
	background: var(--color-white) !important;
}

.ProjeQtOrNewGui #menuBarAccesLeft{
	background: var(--color-menu) !important;
}
.ProjeQtOrNewGui #menuBarAccesBottom{
	border-top:2px solid var(--color-toolbar);
}

.ProjeQtOrNewGui #statusBarDiv {
  border-bottom:0;
  border-top:0;
  padding:0;
}
.ProjeQtOrNewGui #centerDiv {
  border-top:0;
}
.ProjeQtOrNewGui #statusBarDiv {
	background: white !important;
}
.ProjeQtOrNewGui #listHeaderDiv,.ProjeQtOrNewGui .listTitle {
	background-color: var(--color-list-header) !important;
	color: var(--color-list-header-text) !important;
}
.ProjeQtOrNewGui #buttonDiv, .ProjeQtOrNewGui .title {
  background-color: var(--color-detail-header) !important;
  color: var(--color-detail-header-text) !important;
}
.ProjeQtOrNewGui #buttonDiv {
  border-bottom : 1px solid var(--color-detail-header-border);
}
.ProjeQtOrNewGui .dijitButtonDisabled .dijitButtonNode, .ProjeQtOrNewGui .dijitButtonDisabled .dijitReset.dijitInline.dijitButtonNode { 
  background: rgba(255,255,255,0.3) !important;
}

.ProjeQtOrNewGui .dojoxGridHeader .dojoxGridCell {
  background-color: var(--color-grid-header-bg) !important;
  border: 1px solid #ccc;
  border-right: 1px solid #fefefe;
  border-top: 0;
  color: var(--color-grid-header-text) !important;
  text-shadow: none;
  font-size: 10pt;
  padding-top: 0px;
  vertical-align:bottom;
  padding-bottom: 5px;
}
.ProjeQtOrNewGui .dojoxGridRowOdd {
  background-color: #ffffff;
}
.ProjeQtOrNewGui .dojoxGridRowSelected {
	background-color: var(--color-grid-selected-bg) !important;
	color: var(--color-grid-selected-text) !important;
}
.ProjeQtOrNewGui .dojoxGridRowOver .dojoxGridCell{
	background: var(--color-light-secondary) !important;
	color: var(--color-dark-secondary) !important;
}

html, body, #mainDiv, 
#toolBarDiv, 
#logoDiv,
#contentDiv,  #listDiv, .container {
  font-size: 10pt;
}

.tabLabel {
  font-size: 10pt;
  background-color: #ffffff;
  color:var(--color-text);
}
.largeLabel {
  width: 370px;
  background-color: #ffffff;
  color:var(--color-text);
}
.dijitToolbar {
 margin: 5px 2px 5px 0px;
 padding: 2px 5px 6px 5px;
 border: 0px solid #b3b3b3;
 background-color: #ffffff; 
 background-image: none; 
}
.toolbarForSelect {
	position:absolute;
	top:-9px;
	right:25px;
	/*left:-50px;*/
	display:none;
	opacity:0;
	width:200px;
	padding-right:0px;
	-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.ProjeQtOrNewGui .roundedButton {
  border-radius: 5px !important;
  border: 1px solid #dddddd;
}
.ProjeQtOrNewGui .roundedIconButton {
	border: 1px solid #ffffff;
	border-radius:10px !important;
}
.ProjeQtOrNewGui .roundedButton:hover, .ProjeQtOrNewGui .roundedButtonSmall:hover {
  border: 1px solid #ffffff;
  border-color: #ffffff;
  border-bottom-color: #ffffff;
  color: #3C3C3C;
  background: transparent url();
  /*-webkit-filter : brightness(0) invert(0);
  filter : brightness(0) invert(0);*/
  
}
.ProjeQtOrNewGui .roundedVisibleButton:hover {
  border: 1px solid var(--color-secondary);
  color:var(--color-secondary) !important;
}
.ProjeQtOrNewGui .roundedVisibleButton.roundedButton.generalColClas:hover,
.ProjeQtOrNewGui .dijitButtonHover, .ProjeQtOrNewGui .dijitButtonHover .dijitReset.dijitInline.dijitButtonNode {
	color:var(--color-secondary) !important;
	opacity:1;
}

.ProjeQtOrNewGui .roundedButton:hover .imageColorNewGui, .ProjeQtOrNewGui .roundedButtonSmall:hover .imageColorNewGui {
	-webkit-filter : hue-rotate(var(--image-hue-rotate-selected)) saturate(var(--image-saturate-selected)) brightness(var(--image-brightness-selected));
  filter : hue-rotate(var(--image-hue-rotate-selected)) saturate(var(--image-saturate-selected)) brightness(var(--image-brightness-selected));
  color:var(--color-secondary);
}
.roundedButtonNoBorder, .roundedButtonNoBorder:hover, .roundedButtonSmall, .roundedButtonSmall:hover {
	border: 0px;
}
.hideStreamNewGui, .hideStreamNewGuiTopBar {
	margin-top:4px;
	margin-right:5px;
	width:32px;
	height:32px;
	line-height: 1;
	position: relative;
	
}
.iconBreadSrumb{
	padding-top:2px;
	padding-bottom:1px;
	margin-top:20px;
	margin-left:5px;
	
}

.iconBreadSrumbSelect{
	border-right: 2px solid var(--color-secondary)!important;
    padding-right: 3px;
}

.helpDisplayIcon{
	height: 33px;
    bottom: 0px;
    font-style: italic;
    width: 216px;
    position: absolute;
    text-align: center;
    font-size:11px;
    text-color : var(--color-toolbar-text) !important;
    background:var(--color-menu);
}
.hideStreamNewGui:hover, .hideStreamNewGuiTopBar:hover, .iconBreadSrumb:hover {
	cursor:pointer;
}

.helpDisplayIcon:hover {
	cursor:pointer;
	background:var(--color-light);
}

.ProjeQtOrNewGui .iconToolbarView { background-image: url(customIcons/new/iconView.svg); background-repeat: no-repeat; width: 20px; height: 20px; background-position:center center; background-size: 18px 18px}
.ProjeQtOrNewGui .iconToolbarGoto { background-image: url(customIcons/new/iconGoto.svg); background-repeat: no-repeat; width: 20px; height: 20px; background-position:center center; background-size: 16px 16px}
.ProjeQtOrNewGui .iconToolbarSearch { background-image: url(customIcons/new/iconSearch.svg); background-repeat: no-repeat; width: 20px; height: 20px; background-position:center center; background-size: 18px 18px}
.ProjeQtOrNewGui .iconToolbarAdd { background-image: url(customIcons/new/iconAdd.svg); background-repeat: no-repeat; width: 20px; height: 20px; background-position:center center; background-size: 16px 16px}

.fade-in {
animation: fadeIn ease 0.5s;
-webkit-animation: fadeIn ease 0.5s;
-moz-animation: fadeIn ease 0.5s;
-o-animation: fadeIn ease 0.5s;
-ms-animation: fadeIn ease 0.5s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

.ProjeQtOrNewGui .roundedVisibleButton.roundedButton.generalColClass {
	background: url() var(--color-button-background);
	color:var(--color-button-text);
}

.ProjeQtOrNewGui .linkHeader, .ProjeQtOrNewGui .attachmentHeader, .ProjeQtOrNewGui .noteHeader, .ProjeQtOrNewGui .dependencyHeader, .ProjeQtOrNewGui .historyHeader, .ProjeQtOrNewGui .assignHeader, .ProjeQtOrNewGui .messageHeader, .ProjeQtOrNewGui .workflowHeader, .ProjeQtOrNewGui .filterHeader, .ProjeQtOrNewGui .calendarHeader, .ProjeQtOrNewGui .reportTableLineHeader {
    color: rgb(101, 101, 101);
    text-shadow: none;
    background: url() var(--color-table-header) !important;
}
.ProjeQtOrNewGui .sectionBadge {
	top:18px;
	background: var(--color-dark);
}	

/*.ProjeQtOrNewGui .dijitButtonIcon .buttonTopBar {
  -webkit-filter : hue-rotate(var(--image-hue-rotate)) saturate(var(--image-saturate)) brightness(var(--image-brightness));
  filter : hue-rotate(var(--image-hue-rotate)) saturate(var(--image-saturate)) brightness(var(--image-brightness));
}*/
.ProjeQtOrNewGui .menuBarItem, .ProjeQtOrNewGui #menuBarShow .dijitIcon, .ProjeQtOrNewGui .hideStreamNewGuiTopBar,
.ProjeQtOrNewGui #listHeaderDiv div.iconSize32, .ProjeQtOrNewGui #buttonDiv div .iconSize32,
/*.ProjeQtOrNewGui #listHeaderDiv .dijitButtonIcon, .ProjeQtOrNewGui #buttonDiv .dijitButtonIcon,*/
.ProjeQtOrNewGui #menubarContainer .roundedButtonSmall .iconSize22, .ProjeQtOrNewGui #menubarContainer .roundedButtonSmall .iconSize32,
.ProjeQtOrNewGui #centerDiv .dijitButtonIcon, .ProjeQtOrNewGui #centerDiv .roundedButtonSmall,
.ProjeQtOrNewGui .ganttIconBackground div, .ProjeQtOrNewGui .imageColorNewGui,
.ProjeQtOrNewGui .buttonIconNewGui .dijitIcon,
.ProjeQtOrNewGui #mainDivMenu .iconSize22, .ProjeQtOrNewGui #planButton
 {
  -webkit-filter : hue-rotate(var(--image-hue-rotate)) saturate(var(--image-saturate)) brightness(var(--image-brightness));
  filter : hue-rotate(var(--image-hue-rotate)) saturate(var(--image-saturate)) brightness(var(--image-brightness));
  background-color: transparent;
} 
.ProjeQtOrNewGui #menubarContainer .imageColorNewGuiSelected .roundedButtonSmall .iconSize22,
.ProjeQtOrNewGui .menu__linkDirect.menu__link--current .iconSize22, .ProjeQtOrNewGui .menu__linkDirect.menu__link--current .iconSize16  {
	-webkit-filter : hue-rotate(var(--image-hue-rotate-selected)) saturate(var(--image-saturate-selected)) brightness(var(--image-brightness-selected));
  filter : hue-rotate(var(--image-hue-rotate-selected)) saturate(var(--image-saturate-selected)) brightness(var(--image-brightness-selected));
  background-color: transparent;
}


.ProjeQtOrNewGui #toolBarDiv .dijitIcon, .ProjeQtOrNewGui #toolBarDiv .iconSize22, 
.ProjeQtOrNewGui .hideStreamNewGui, 
.ProjeQtOrNewGui .menu__link .iconSize22, .ProjeQtOrNewGui .menu__link .iconSize16,
.ProjeQtOrNewGui .menu__linkDirect .iconSize22, .ProjeQtOrNewGui .menu__linkDirect .iconSize16,.ProjeQtOrNewGui #menuBarAccesLeft .iconSize22,.ProjeQtOrNewGui #menuBarAccesLeft .iconSize16, .ProjeQtOrNewGui .dijitTreeIcon, .ProjeQtOrNewGui .dijitTreeLabel {
	-webkit-filter : brightness(0) invert(1);
  filter : brightness(0) invert(1);
  background-color: transparent;
  opacity: 1;
}
.ProjeQtOrNewGui .menu__link .iconSize16, .ProjeQtOrNewGui .menu__linkDirect .iconSize16 {
	top: 3px;
}
.ProjeQtOrNewGui #toolBarDiv .dijitDisabled {
  background-color: transparent;
  opacity : 0;
}
.ProjeQtOrNewGui .dijitButtonIcon.iconNewtab  {
    background-image: url(customIcons/new/iconNewtab.svg);
    width: 40px;
    height: 16px;
}
.ProjeQtOrNewGui #menuUserParameterTop {
	font-weight: normal;
}
.ProjeQtOrNewGui #toolBarDiv .dijitReset .dijitInline .dijitArrowButtonInner, .ProjeQtOrNewGui #toolBarDiv .dijitTextBox .dijitArrowButtonInner, .ProjeQtOrNewGui .iconBreadSrumb{
  -webkit-filter : brightness(0) invert(var(--color-toolbar-invert));
  filter: brightness(0) invert(var(--color-toolbar-invert));
  border: 0;
}
.ProjeQtOrNewGui #toolBarDiv .pseudoButton, .ProjeQtOrNewGui #toolBarDiv .dijitTextBox {
	border:none;
	background : transparent;
	color: var;
}
.ProjeQtOrNewGui #toolBarDiv .dijitButtonNode, .ProjeQtOrNewGui .dijitReset.dijitInline.dijitButtonNode {
	border:none;
}
.ProjeQtOrNewGui .menuBarItem {
	padding: 5px 1px 3px 1px !important;
  top: 0px !important;
  border-bottom: 0px !important;
  background-color: transparent !important;
  background-image: url() !important;
}
.ProjeQtOrNewGui .menuBarItem::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url();;
  background-repeat: no-repeat;
  background-position: right top;
  -webkit-filter: hue-rotate(var(--image-hue-rotate-reverse)) saturate(100) brightness(100);
   filter: hue-rotate(var(--image-hue-rotate-reverse)) saturate(100) brightness(100);
}
.ProjeQtOrNewGui .menuBarItem:hover {
  -ms-transform: rotate(0deg) brightness(99%) !important; /* IE 9 */
  -webkit-transform: rotate(0deg) brightness(99%) !important; /* Chrome, Safari, Opera */
  transform: rotate(0deg) !important;
  color:var(--color-medium-secondary) !important;
  border-bottom: 2px solid var(--color-medium-secondary) !important/*#fff0f0*/;
  background-color: transparent !important;
}
.ProjeQtOrNewGui .menuBarItem, .ProjeQtOrNewGui .bottomNotification {
  -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -o-transition: all 0s ease;
    -ms-transition: all 0s ease;
    transition: all 0s ease;
}
.ProjeQtOrNewGui .menuBarItemSelected {
	 border-bottom: 2px solid var(--color-secondary) !important;
   	 color:var(--color-secondary) !important;
	 background-color: transparent !important;
}
.ProjeQtOrNewGui .menuBarItemSelected:hover {
   border-bottom: 2px solid var(--color-secondary) !important;
   color:var(--color-secondary) !important;
}
.ProjeQtOrNewGui .menuBarItemCaption {
	/*display:none;*/
}
.ProjeQtOrNewGui .menuBarCustom {
  background-image: unset;
}
.ProjeQtOrNewGui .menuBarCustom:hover {
  background-image: unset;
}
.ProjeQtOrNewGui .menuBarCustom::before {
	content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: unset;;
  background-repeat: no-repeat;
  background-position: right top;
	-webkit-filter: hue-rotate(var(--image-hue-rotate-reverse)) saturate(100) brightness(100);
   filter: hue-rotate(var(--image-hue-rotate-reverse)) saturate(100) brightness(100);
}
.messageDivNewGui{
    border-radius: 12px 4px;
    padding: 3px 5px 3px 5px;
    background-color: white;
    font-size: 10px;
    opacity: 1;
    margin: 6px 4px 4px 4px;
}

.newHeaderLink{
    color: white;
    font-weight: 600;
    padding:10px 10px 9px 6px
}


.newDataLink  .hyperlink:hover{
	color: var(--color-secondary)!important;
	font-weight:initial !important;
}

.menuBar_add_Fav::before{
    float: left;
    content: '\f27d';
    font-family: 'Material';
    font-size: 19px;
    -webkit-text-stroke-width: 0.5px;
    text-shadow: 0.5px 0px 1px;
    -webkit-text-stroke-color: black;
    position: relative;
    top: -3px;
    color: var( --color-light);
    width: 8%;
}
.menuBar_remove_Fav::before{
    float: left;
    content: '\f27d';
    font-family: 'Material';
	font-size:19px;
	-webkit-text-stroke-width: 0.5px;
    text-shadow: 0.5px 0px 1px;
    -webkit-text-stroke-color: black;
    position: relative;
    top: -3px;
    color: var(--color-secondary);
    display: block;
    width: 8%;
}

.ProjeQtOrNewGui .anotherBar:hover{
	background-color: var(--color-light-secondary) !important;
}

.ProjeQtOrNewGui .itemBar.dojoDndItemAnchor{
	border-left: unset !important;
}

.ProjeQtOrNewGui .itemBar.dojoDndItemAfter{
	border-right: 2px solid var(--color-secondary) !important;
}

.ProjeQtOrNewGui .itemBar.dojoDndItemBefore{
	border-left: 2px solid var(--color-secondary) !important;
}

.ProjeQtOrNewGui .dijitTabContainerTop-tabs, .ProjeQtOrNewGui .dijitTabContainerTop-tabs .dijitTabChecked {
	background-color: transparent;
}
.ProjeQtOrNewGui  div.dijitTab.dijitTabChecked>span.tabLabel {
	color: var(--color-secondary);
	border:0;
	border-bottom: 2px solid var(--color-secondary);
}
.ProjeQtOrNewGui .dijitTab .tabLabel {
	font-size:100%;
}
.ProjeQtOrNewGui  .dijitTabContainerTop-tabs, .ProjeQtOrNewGui .dijitTab, .ProjeQtOrNewGui div.dijitTab>span.tabLabel {
	color: var(--color-detail-header-text);
	border: 0px;
	border-bottom: 2px solid transparent;
	background-color: transparent;
	font-weight:normal;
}

.ProjeQtOrNewGui .roundedButton:hover, .ProjeQtOrNewGui .roundedButtonSmall:hover {
  background: transparent url();
}

.ProjeQtOrNewGui .buttonTopBar {
	padding:5px 0px 0px 5px;
}

.ProjeQtOrNewGui .dijitSplitter {
    background: var(--color-dark);
    border:0px solid var(--color-medium);
}
.ProjeQtOrNewGui #centerDiv {
	/*border-top: 4px solid var(--color-light);*/
}	
.ProjeQtOrNewGui .dijitTabPaneWrapper {
	border:none;
}
.ProjeQtOrNewGui .dijitButtonIcon {
  background-image: url(customIcons/new/editorButtonsEnabled.png);
}
.ProjeQtOrNewGui .dijitDisabled .dijitButtonIcon {
  background-image: url(customIcons/new/editorButtonsDisabled.png);
}

.ProjeQtOrNewGui .dijitDialogTitleBar {
  /*background: url() var(--color-lighter) !important;
  color:var(--color-text);*/
  background: url() var(--color-darker) !important;
  color:var(--color-white);
  text-align:center;
}
.ProjeQtOrNewGui .dijitDialog {
	border-radius:5px;
	font-size:10pt;
} 
.ProjeQtOrNewGui .dijitButton,
.ProjeQtOrNewGui .dijitReset.dijitInline.dijitButtonNode {
	border-radius:5px;
	background: var(--color-lighter);
  color:var(--color-text);
  
}
.ProjeQtOrNewGui .dijitButtonNode{
	padding: 0.1em 0em 0.1em 0em;
}

.ProjeQtOrNewGui .dijitDialogPaneContent .dijitReset.dijitInline.dijitButton {
	/*margin: 10px 20px;*/
}
.ProjeQtOrNewGui .dijitDialogPaneContent .dijitReset.dijitInline.dijitButtonNode,
.ProjeQtOrNewGui .dijitTooltipContainer .dijitReset.dijitInline.dijitButtonNode {
	/*padding: 0.2em 1em 0.2em 1em;*/
	border: 1px solid #c0c0c0;
}
.ProjeQtOrNewGui .dijitDialogPaneContent .dijitReset.dijitStretch.dijitButtonContents{
	padding: 0.2em 1em 0.2em 1em;
}
.ProjeQtOrNewGui .dijitDialogPaneContent .resetMargin .dijitReset.dijitStretch.dijitButtonContents{
  padding: 0;
}
.ProjeQtOrNewGui .notButton,
.ProjeQtOrNewGui .notButton .dijitReset.dijitInline.dijitButtonNode{
  background: url() #ffffff;
  backgound-color: #ffffff;
  border:1px solid #ffffff;
}

.ProjeQtOrNewGui .dijitTooltipContainer .dijitReset.dijitInline.dijitButtonNode {
	padding: 0.2em 0.2em 0.2em 0.2em;
}
.ProjeQtOrNewGui .resetSearchTD {
	padding-right:5px;
}
.ProjeQtOrNewGui .mediumTextButton {
	height: 100%;
}
.ProjeQtOrNewGui .dijitDialogTitleBar{
	padding:10px;
}
.ProjeQtOrNewGui .dijitDialogCloseIcon {
	background: url(images/tabClose.svg) no-repeat right top;
	background-size: 22px 22px;
	height:22px;
	width: 22px;
	top:6px;
	-webkit-filter : brightness(900%);
  filter: brightness(9) ; 
    -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.ProjeQtOrNewGui .dijitDialogCloseIcon:hover {
	filter: brightness(15); 
	-webkit-filter : brightness(1500%);
}

.ProjeQtOrNewGui .dijitDropDownButton .dijitReset.dijitInline.dijitButtonNode {
  background: transparent url();
}
.ProjeQtOrNewGui #toolBarDiv .dijitButton,
.ProjeQtOrNewGui #toolBarDiv .dijitDropDownButton,
.ProjeQtOrNewGui #toolBarDiv .dijitReset.dijitInline.dijitButtonNode {
  border:0;
  background: url() transparent;
  background-color: transparent;
  color: var(--color-toolbar-text);
 
}
.ProjeQtOrNewGui #toolBarDiv .dijitButton,
.ProjeQtOrNewGui #toolBarDiv .dijitDropDownButton,
#iconTopMenuUserParameter, .iconTopMenuUserParameter {
	-webkit-filter : brightness(0) invert(var(--color-toolbar-invert));
  filter: brightness(0) invert(var(--color-toolbar-invert));
}
.ProjeQtOrNewGui #toolBarDiv #menuUserParameterTop .dijitButton,
.ProjeQtOrNewGui #toolBarDiv #menuUserParameterTop .dijitDropDownButton {
  -webkit-filter : unset;
  filter: unset;
}
.menuBarSeparatorDiv {
	height:26px;
	position:absolute;
	width:1px;
	border-left:1px solid var(--color-toolbar-text);
	top:2px;left:2px
}
#countNotifications {
	font-size:80%;
	font-weight:normal;
}
.ProjeQtOrNewGui #projectSelectorDiv .dijitReset.dijitInputInner {
	color: var(--color-toolbar-text);
}

.ProjeQtOrNewGui #toolBarDiv .dijitButtonNode, .ProjeQtOrNewGui #toolBarDiv .dijitReset.dijitInline.dijitButtonNode {
  transition : unset;
}

.ProjeQtOrNewGui #toolBarDiv .dijitTreeRow {
	color: var(--color-toolbar-text);
	font-weight:normal;
	font-size:90%
}
.ProjeQtOrNewGui #iconMenuUserPhoto, .ProjeQtOrNewGui #iconMenuUserPhoto span,
.ProjeQtOrNewGui #iconMenuUserPhoto span img {
	filter: unset;
	-webkit-filter: unset;
}
.ProjeQtOrNewGui #toolBarDiv .dijitTreeRow:hover {
  color:white;font-weight:normal;font-size:90%;
  background-color:transparent;
}

.ProjeQtOrNewGui .dijitReset.dijitInline.dijitButtonNodeHover {
  border-radius:20px;
  background: #ffffff;
  color:var(--color-text);
}
.ProjeQtOrNewGui .dijitButtonNode:hover {
  /*background: #dddddd;*/
  color:var(--color-light);
  opacity:20%;
  
}
.ProjeQtOrNewGui .dijit.dijitReset.dijitInline.detailButton.dijitButton .dijitButtonNode {
    background: #ffffff;
    border: 0px solid #ffffff;
}    
.ProjeQtOrNewGui .detailButton.dijitButton, .ProjeQtOrNewGui .dijitReset.dijitInline.detailButton.dijitButtonNode {
	  background: #ffffff;
    /*border: 1px solid #ffffff;*/
    
}

.ProjeQtOrNewGui .detailButton.dijitButton.dijitButtonHover, .ProjeQtOrNewGui .dijitReset.dijitInline.detailButton.dijitButtonHover .dijitButtonNode {
  /*border: 1px solid var(--color-medium);*/
  background: var(--color-button-background);
}
.dijit.dijitReset.dijitInline.detailButton.dijitButton.dijitDisabled .dijitButtonNode {
  border:1px solid white;
}

.ProjeQtOrNewGui .dijit.dijitReset.dijitInline.detailButton.dijitButton.dijitDisabled .dijitButtonNode {
  opacity:50%;
}
.ProjeQtOrNewGui #buttonDivObjectId {
	margin-right:5px;
	border:0;
	color: var(--color-detail-header-text);
}
.ProjeQtOrNewGui #buttonDivObjectId .roundedButton{
	border:1px solid white;
}
.ProjeQtOrNewGui #buttonDivObjectId .roundedButton:hover{
  border:1px solid var(--color-detail-header-text);
}
.ProjeQtOrNewGui #buttonDivObjectId .roundedButton a{
  color: var(--color-detail-header-text);
}
.separatorSection {
	margin-top:5px;
	margin-bottom:5px;
	line-height: 20px;
	padding:5px;
	background-color:var(--color-lighter);
	color:var(--color-dark);
	
}
.separatorSection .assignHeader,
.ProjeQtOrNewGui .assignHeader,
.ProjeQtOrNewGui .dependencyHeader,
.ProjeQtOrNewGui .noteHeader,
.ProjeQtOrNewGui .linkHeader,
.ProjeQtOrNewGui .filterHeader,
.ProjeQtOrNewGui .attachmentHeader {
	background-color:var(--color-lighter) !important;
  color:var(--color-dark);
  height: 26px;
}
.ProjeQtOrNewGui .filterData{
	font-size:100%;
	padding: 0px 10px;
	vertical-align: middle;
	height:24px;
}
.ProjeQtOrNewGui .dijitTitlePane .dijitTitlePaneTitle,
.ProjeQtOrNewGui .section {
	text-shadow: none;
}
.ProjeQtOrNewGui .section {
	background-color:var(--color-light) !important;
	color:var(--color-dark) !important;
	border:1px solid var(--color-medium);
	height:26px;
}

.ProjeQtOrNewGui .dijitSplitter {
 color:var(--color-dark);
}

/* Scrollbars */

.ProjeQtOrNewGui ::-webkit-scrollbar {
	height: 8px;
    width: 8px;
   	background: var(--color-light);
  	border-radius: 10px;
}

.ProjeQtOrNewGui ::-webkit-scrollbar-thumb {
    background: var(--color-medium);
    border-radius: 10px;
}

.ProjeQtOrNewGui .menu__level::-webkit-scrollbar {
	height: 8px;
    width: 8px;
    background: var(--color-light);
    opacity:0.3;
  	border-radius: 10px;
}

.ProjeQtOrNewGui .menu__level::-webkit-scrollbar-thumb {
    background: var(--color-medium);
    border-radius: 10px;
}

 .ProjeQtOrNewGui div{
  	scrollbar-color:grey white;
  	scrollbar-width: thin;
  	scrollbar-height: thin;
}

.ProjeQtOrNewGui .calendarRed32
  { background-image: url(images/calendarRedFlat.png);  background-repeat: no-repeat; width: 32px; height: 32px; background-size: 32px 32px;}
.ProjeQtOrNewGui .calendarRed22
  { background-image: url(images/calendarRedFlat.png);  background-repeat: no-repeat; width: 22px; height: 22px; background-size: 22px 22px;}
.ProjeQtOrNewGui .calendarRed16 
  { background-image: url(images/calendarRedFlat.png);  background-repeat: no-repeat; width: 16px; height: 16px; background-size: 16px 16px;}
.ProjeQtOrNewGui .calendarWhite32 
  { background-image: url(images/calendarWhiteFlat.png);  background-repeat: no-repeat; width: 32px; height: 32px; background-size: 32px 32px;}
.ProjeQtOrNewGui .calendarWhite22 
  { background-image: url(images/calendarWhiteFlat.png);  background-repeat: no-repeat; width: 22px; height: 22px; background-size: 22px 22px;}
.ProjeQtOrNewGui .calendarWhite16 
  { background-image: url(images/calendarWhiteFlat.png);  background-repeat: no-repeat; width: 16px; height: 16px; background-size: 16px 16px;}
.ProjeQtOrNewGui .calendarYellow32 
  { background-image: url(images/calendarYellowFlat.png);  background-repeat: no-repeat; width: 32px; height: 32px; background-size: 32px 32px;}
.ProjeQtOrNewGui .calendarYellow22 
  { background-image: url(images/calendarYellowFlat.png);  background-repeat: no-repeat; width: 22px; height: 22px; background-size: 22px 22px;}
.ProjeQtOrNewGui .calendarYellow16 
  { background-image: url(images/calendarYellowFlat.png);  background-repeat: no-repeat; width: 16px; height: 16px; background-size: 16px 16px;}

.ProjeQtOrNewGui .calendarRedUpdate32 
  { background-image: url(images/calendarRedUpdateFlat.png);  background-repeat: no-repeat; width: 32px; height: 32px; background-size: 32px 32px;}
.ProjeQtOrNewGui .calendarRedUpdate22 
  { background-image: url(images/calendarRedUpdateFlat.png);  background-repeat: no-repeat; width: 22px; height: 22px; background-size: 22px 22px;}
.ProjeQtOrNewGui .calendarRedUpdate16 
  { background-image: url(images/calendarRedUpdateFlat.png);  background-repeat: no-repeat; width: 16px; height: 16px; background-size: 16px 16px;}
.ProjeQtOrNewGui .calendarWhiteUpdate32 
  { background-image: url(images/calendarWhiteUpdateFlat.png);  background-repeat: no-repeat; width: 32px; height: 32px; background-size: 32px 32px;}
.ProjeQtOrNewGui .calendarWhiteUpdate22 
  { background-image: url(images/calendarWhiteUpdateFlat.png);  background-repeat: no-repeat; width: 22px; height: 22px; background-size: 22px 22px;}
.ProjeQtOrNewGui .calendarWhiteUpdate16 
  { background-image: url(images/calendarWhiteUpdateFlat.png);  background-repeat: no-repeat; width: 16px; height: 16px; background-size: 16px 16px;}
.ProjeQtOrNewGui .calendarYellowUpdate32 
  { background-image: url(images/calendarYellowUpdateFlat.png);  background-repeat: no-repeat; width: 32px; height: 32px; background-size: 32px 32px;}
.ProjeQtOrNewGui .calendarYellowUpdate22 
  { background-image: url(images/calendarYellowUpdateFlat.png);  background-repeat: no-repeat; width: 22px; height: 22px; background-size: 22px 22px;}
.ProjeQtOrNewGui .calendarYellowUpdate16 
  { background-image: url(images/calendarYellowUpdateFlat.png);  background-repeat: no-repeat; width: 16px; height: 16px; background-size: 16px 16px;}

.ProjeQtOrNewGui .iconNotification { background-image: url(customIcons/new/iconNotification.svg);  background-repeat: no-repeat;}

.colorSwitch .mblSwitchBgLeft {
    background: #51B757;
}
.colorSwitch .mblSwitchBgRight {
    background: #D3D3D3;
}

.mblSwitch {
  margin: 0;
  position: relative;
  display: inline-block;
  height: 14px !important;
  line-height: 29px;
  width : 32px !important;
  overflow: hidden;
  border-radius: 30px !important;
  cursor:pointer;
}

.mblSwitchKnob {
  height: 14px !important;
  width: 14px !important;
  border-radius: 9px !important;
  border : solid 1 px grey;
}

.ProjeQtOrNewGui .paramMenuBottom{
	width: 100%;
    margin: 0;
    height: 100%;
    padding:0px;
}

.ProjeQtOrNewGui .noMenuToDisplay{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    color: white;
}

.mblSwitchDisabled .mblSwitchKnob {
	display:none;
}
.mblSwitch .mblSwitchDisabled, .mblSwitch.mblSwDefaultShape.colorSwitch.mblSwitchDisabled  {
	pointer-events: none;
	cursor: default;
}

.ProjeQtOrNewGui .whiteCheck {
    background-image: url(images/checkmarkNoBorderGrey.png) !important;
    border: 1px solid var(--color-medium);
}

.ProjeQtOrNewGui .colorMediumDiv {
	background: var(--color-medium) !important;
}

.ProjeQtOrNewGui .swapView {
  height:200px !important;
  width:350px !important;
}
.ProjeQtOrNewGui .indicatorPage {
  bottom:70px !important;
}
table.dojoDndAvatar {
	font-size:100%;
}
.rounded {
	border-radius: 5px 5px 5px 5px !important;
}
.ProjeQtOrNewGui .dijitTextBox.dijitComboBox.dijitValidationTextBox .dijitArrowButtonInner,
.ProjeQtOrNewGui .dijitSelect.dijitValidationTextBox .dijitArrowButtonInner {
	margin-left:6px;
}
select option:checked {
	background-color:var(--color-grid-selected-bg) !important;
	color:var(--color-grid-selected-text) !important;
}
/*========================== CK EDITOR ======================*/
.ProjeQtOrNewGui .cke_top, .ProjeQtOrNewGui .cke_bottom {
  background: var(--color-white) !important;
  background-image: url();
}
.ProjeQtOrNewGui .cke_toolgroup {
  background: var(--color-white) !important;
  background-image: url();
  
}
.ProjeQtOrNewGui a.cke_button, .ProjeQtOrNewGui a.cke_combo_button {
  border-radius: 5px !important;
  border: 1px solid #dddddd;
  background: var(--color-lighter) !important;
  /* margin-left: 1px;*/
}
.ProjeQtOrNewGui a.cke_button {
  padding: 4px 6px;
  margin-left: 1px;
}
.ProjeQtOrNewGui a.cke_combo_button {
	padding:0px;
	margin-top:1px;
}
.ProjeQtOrNewGui a.cke_button_on {
  background: var(--color-light) !important;
  border: 1px #aaaaaa solid;
  padding: 4px 6px;
}
.ProjeQtOrNewGui a.cke_button:hover, .ProjeQtOrNewGui a.cke_combo_button:hover {
  background: var(--color-white) !important;
  background-image: url();
  border: 1px #aaaaaa solid;
  /*margin-left: 1px;*/
}
.ProjeQtOrNewGui a.cke_button:hover {
	padding: 4px 6px;
}
.ProjeQtOrNewGui a.cke_button_expandable{
	padding:4px 6px
}
.ProjeQtOrNewGui .cke_toolbar_separator {
	background: var(--color-white);
}
